body{
    font-family: 'Quintessential', cursive;
}
.image{
    background-image: url(https://muslimgiving-production-cdn.azureedge.net/muslimgiving-production/public/campaign/2035/gallery/6e3bc198233f054703409ba0f0d1de80-5d872e8ea9c06a5e93b2a9bdba666dde.jpeg);
    background-size: 1300px;
    width: 1200px;
    height: 500px;
    background-position: center;
    padding: 17px 15px 17px 15px ;
    margin-bottom: 80px;
}
.header-font{
    font-size: 50px;
}
.centered{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.link-button{
    text-decoration: none;
    background-color: red;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.donation-part{
    text-align: center;
}
.box{
    display: inline-block;
   position: relative;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 10px;
   margin-left: 10px;
   width: 5%;
   height: 30px;
   background-color: aliceblue;
}
.box1{
    background-color: rgb(253, 136, 136);
    border: 2px solid red;
}
#position{
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
}
.margin{
    margin-bottom: 150px;
}
.box-area{
    text-align: center;
}
.flexible-container{
    display: flex;
    position: relative;
    margin-bottom: 100px;
}
.boxes{
    text-align: left;
    width: 30%;
    height: 300px;
    padding: 20px;
}
.icon-size{
    width: 20%;
    height: 20%;
}
.box2{
    margin-left: 10%;
    background-color: lightblue;
}
.box3{
    margin-left: 20px;
    margin-right: 20px;
    background-color: lightpink;
}
.box4{
    margin-right: 10%;
    background-color: lightyellow;
}
.adjust-area{
    padding-left: 5%;
    margin-bottom: 40px;
    display: flex;
}
.adjust-area-img{
    margin-left: 5%;
    width: 50%;
}